__pycache__
.idea
*.net
*.prof
dflex/kernels
dflex.egg-info
.vscode
kernels
tests/log/*
.history
tests/.ipynb_checkpoints
tests/config/*/
tests/**/*.pdf
tests/**/*.pkl
tests/**/*.png
tests/**/*.pt
stdout*.log
*.mp4
*.exp
*.pyd
*.lib
*.so
meshing.obj
*egg-info
*.profile
*.ipynb_checkpoints
*log.txt
events.out.tfevents.*
*.usd
log/
dataset/
*.zip
